/* Calc padding-top for rounded divs*/
/*@include background-image(linear-gradient($main_color, $main-color-light));*/
/* line 20, ../sass/main.scss */
nav {
  position: fixed;
}

/* line 25, ../sass/main.scss */
nav ul li {
  float: left;
  text-transform: uppercase;
}
/* line 29, ../sass/main.scss */
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  opacity: 0.4;
}
/* line 35, ../sass/main.scss */
nav ul li a:hover {
  opacity: 1;
  text-shadow: 0px 0px 3px 0.5;
  text-shadow: 0px 0px 3px black 0.5;
}
/* line 40, ../sass/main.scss */
nav ul li a.active {
  opacity: 1;
}
/* line 44, ../sass/main.scss */
nav ul li a.dark_nav {
  opacity: 0;
}

/* line 52, ../sass/main.scss */
.banner {
  background: url(../img/img_1.jpg) no-repeat fixed center center/cover #ffaa00;
  width: 100%;
  height: 600px;
  -webkit-box-shadow: 0px 1px 2px #64e8f0;
  -moz-box-shadow: 0px 1px 2px #64e8f0;
  box-shadow: 0px 1px 2px #64e8f0;
  z-index: 99999;
  position: relative;
}

/* line 61, ../sass/main.scss */
.animation {
  height: 400px;
  background-color: azure;
}
/* line 65, ../sass/main.scss */
.animation ul {
  width: 960px;
  margin: 0 auto;
}
/* line 69, ../sass/main.scss */
.animation ul li {
  width: 160px;
  height: 85px;
  background-color: #00848c;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  float: left;
  margin: 30px;
  list-style: none;
  text-align: center;
  vertical-align: center;
  padding-top: 75px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: transparent 1px solid;
  letter-spacing: 0.5em;
  margin-top: 90px;
  -webkit-box-shadow: 0px 1px 0px white, 0px 2px 1px #006b73 inset;
  -moz-box-shadow: 0px 1px 0px white, 0px 2px 1px #006b73 inset;
  box-shadow: 0px 1px 0px white, 0px 2px 1px #006b73 inset;
}
/* line 88, ../sass/main.scss */
.animation ul li:first-child, .animation ul li:last-child {
  margin-top: 150px;
}
/* line 93, ../sass/main.scss */
.animation ul li:hover {
  -webkit-box-shadow: 0px 1px 0px white, 0px 2px 1px #006b73 inset, 0px 0px 4px #00525a;
  -moz-box-shadow: 0px 1px 0px white, 0px 2px 1px #006b73 inset, 0px 0px 4px #00525a;
  box-shadow: 0px 1px 0px white, 0px 2px 1px #006b73 inset, 0px 0px 4px #00525a;
  border: #8cf8ff 1px solid;
  opacity: 0.85;
  color: #ffd81a;
  font-weight: bold;
}

/* line 104, ../sass/main.scss */
.text {
  background-color: #00848c;
  overflow: hidden;
  *zoom: 1;
  padding: 40px 0px;
}
/* line 109, ../sass/main.scss */
.text article {
  width: 70%;
  margin: 0 auto;
}
/* line 114, ../sass/main.scss */
.text h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #fff;
  text-shadow: 0px -2px 0px #00525a;
  font-size: 50px;
  margin-top: 30px;
}
/* line 124, ../sass/main.scss */
.text p.preform {
  text-align: center;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 0.4em;
  line-height: 130%;
  font-size: 13px;
  margin-top: 5px;
  font-style: normal;
}
/* line 135, ../sass/main.scss */
.text p {
  font-family: 'Georgia', arial, sans-serif;
  color: #fff;
  text-align: center;
  font-style: italic;
  color: #d2ffff;
}
