@import "compass/css3";
@import "compass/utilities/general/clearfix";

$main_color:#1AD4FF;
$main-color-light:lighten($main-color, 20);
$main-color-dark:darken($main-color, 30);

$sec-color:#FFD81A;
$sec-color-light:lighten($sec-color, 20);
$sec-color-dark:darken($sec-color, 30);

$script:'Dancing Script', cursive;


/* Calc padding-top for rounded divs*/
$div-height: 85px;
$padding-top-rounded: 160 - $div-height; 

/*@include background-image(linear-gradient($main_color, $main-color-light));*/
nav{
	position:fixed;
}


nav ul li{
	float:left;
	text-transform:uppercase;

	a{
		text-decoration:none;
		color:($main-color-light + 150);
		font-size:50px;
		opacity:0.4;

		&:hover{
			opacity:1;
			@include text-shadow(0px 0px 3px #000 0.5);
		}

		&.active{
			opacity:1;
		}

		&.dark_nav{
			opacity:0;
		}

	}
}


.banner{
	background: url(../img/img_1.jpg)  no-repeat fixed center center / cover  #FFAA00;
	width:100%;
	height:600px;
	@include box-shadow(0px 1px 2px $main-color-dark + 100);
	z-index:99999;
	position:relative;
}

.animation{
	height:400px;
	background-color:($main-color-light + 100);

	ul{
		width:960px;
		margin:0 auto;

		li{
			width:160px;
			height:$div-height;
			background-color:($main-color-dark);
			@include border-radius(80px);
			float:left;
			margin:30px;
			list-style:none;
			text-align:center;
			vertical-align:center;
			padding-top:$padding-top-rounded;
			color:($main-color-light + 150);
			text-transform:uppercase;
			font-size:12px;
			border:transparent 1px solid;
			letter-spacing:0.5em;
			margin-top:90px;
			@include box-shadow(0px 1px 0px #fff , 0px 2px 1px $main-color-dark - 25 inset);

			&:first-child, &:last-child{
			margin-top:150px;

			}

			&:hover{
				@include box-shadow(0px 1px 0px #fff , 0px 2px 1px $main-color-dark - 25 inset , 0px 0px 4px $main-color-dark - 50);
				border:$main-color-light 1px solid;
				opacity:0.85;
				color:$sec-color;
				font-weight:bold;
			}
		}		
	}
}

.text{
	background-color:$main-color-dark;
	@include clearfix;
	padding:40px 0px;

	article{
		width:70%;
		margin: 0 auto;
	}

	h2{
		text-align:center;
		font-family:$script;
		color:#fff;
		@include text-shadow(0px -2px 0px $main-color-dark - 50);
		font-size:50px;
		margin-top:30px;

	}

	p.preform{
		text-align: center;
		color:#fff;
		font-family:"Lucida Console", Monaco, monospace;
		letter-spacing:0.4em;
		line-height:130%;
		font-size:13px;
		margin-top:5px;
		font-style:normal;
	}

	p{
		font-family:'Georgia', arial, sans-serif;
		color:#fff;
		text-align:center;
		font-style:italic;
		color:$main-color-light + 70;
	}
}
	

